<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
 Lab 2 Data Visualization
</div>

<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Exploring Data</div>

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
from datetime import datetime

## Read data from csv file

In [2]:
billion_df = pd.read_csv("./Data/data.csv")

In [3]:
billion_df.head(10)

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
5,6,104000,Technology,Bill Gates,67.0,United States,Medina,Microsoft,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
6,7,94500,Media & Entertainment,Michael Bloomberg,81.0,United States,New York,Bloomberg LP,Media & Entertainment,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
7,8,93000,Telecom,Carlos Slim Helu & family,83.0,Mexico,Mexico City,Telecom,Telecom,Mexico,...,3.6,"$1,258,286,717,125",40.2,105.8,75.0,13.1,55.1,1.260140e+08,23.634501,-102.552784
8,9,83400,Diversified,Mukesh Ambani,65.0,India,Mumbai,Diversified,Diversified,India,...,7.7,"$2,611,000,000,000",28.1,113.0,69.4,11.2,49.7,1.366418e+09,20.593684,78.962880
9,10,80700,Technology,Steve Ballmer,67.0,United States,Hunts Point,Microsoft,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891

## Data Exploring

### How many rows and how many columns?

In [4]:
num_rows = billion_df.shape[0]
num_cols = billion_df.shape[1]
print(f"Your data has {num_rows} rows and {num_cols} columns")

Your data has 2640 rows and 35 columns

### What is the meaning of each row?

Each row represents information about a billionaire, covering a wide range of indicators and attributes. It encompasses finalWorth, category, personName, and much more.

### Are there duplicated rows?

In [5]:
num_duplicated_rows = billion_df.duplicated().sum()
if num_duplicated_rows:
    print(f"Your data has {num_duplicated_rows} duplicated rows")
else:
    print("Your data has no duplicated row!")

Your data has no duplicated row!

### What is the meaning of each column?

- `rank`: The ranking of the billionaire in terms of wealth.
- `finalWorth`: The final net worth of the billionaire in U.S. dollars.
- `category`: The category or industry in which the billionaire's business operates.
- `personName`: The full name of the billionaire.
- `age`: The age of the billionaire.
- `country`: The country in which the billionaire resides.
- `city`: The city in which the billionaire resides.
- `source`: The source of the billionaire's wealth.
- `industries`: The industries associated with the billionaire's business interests.
- `countryOfCitizenship`: The country of citizenship of the billionaire.
- `organization`: The name of the organization or company associated with the billionaire.
- `selfMade`: Indicates whether the billionaire is self-made (True/False).
- `status`: "D" represents self-made billionaires (Founders/Entrepreneurs) and "U" indicates inherited or unearned wealth.
- `gender`: The gender of the billionaire.
- `birthDate`: The birthdate of the billionaire.
- `lastName`: The last name of the billionaire.
- `firstName`: The first name of the billionaire.
- `title`: The title or honorific of the billionaire.
- `date`: The date of data collection.
- `state`: The state in which the billionaire resides.
- `residenceStateRegion`: The region or state of residence of the billionaire.
- `birthYear`: The birth year of the billionaire.
- `birthMonth`: The birth month of the billionaire.
- `birthDay`: The birth day of the billionaire.
- `cpi_country`: Consumer Price Index (CPI) for the billionaire's country.
- `cpi_change_country`: CPI change for the billionaire's country.
- `gdp_country`: Gross Domestic Product (GDP) for the billionaire's country.
- `gross_tertiary_education_enrollment`: Enrollment in tertiary education in the billionaire's country.
- `gross_primary_education_enrollment_country`: Enrollment in primary education in the billionaire's country.
- `life_expectancy_country`: Life expectancy in the billionaire's country.
- `tax_revenue_country_country`: Tax revenue in the billionaire's country.
- `total_tax_rate_country`: Total tax rate in the billionaire's country.
- `population_country`: Population of the billionaire's country.
- `latitude_country`: Latitude coordinate of the billionaire's country.
- `longitude_country`: Longitude coordinate of the billionaire's country.

### What is the current data type of each column? Are there columns having inappropriate data types?

In [6]:
billion_df.dtypes

rank                                            int64
finalWorth                                      int64
category                                       object
personName                                     object
age                                           float64
country                                        object
city                                           object
source                                         object
industries                                     object
countryOfCitizenship                           object
organization                                   object
selfMade                                         bool
status                                         object
gender                                         object
birthDate                                      object
lastName                                       object
firstName                                      object
title                                          object
date                                           object
state                                          object
residenceStateRegion                           object
birthYear                                     float64
birthMonth                                    float64
birthDay                                      float64
cpi_country                                   float64
cpi_change_country                            float64
gdp_country                                    object
gross_tertiary_education_enrollment           float64
gross_primary_education_enrollment_country    float64
life_expectancy_country                       float64
tax_revenue_country_country                   float64
total_tax_rate_country                        float64
population_country                            float64
latitude_country                              float64
longitude_country                             float64
dtype: object

### Drop Rows that not essential for visualization

In [7]:
columns_to_drop = ['date']
billion_df.drop(columns=columns_to_drop,inplace=True)

In [8]:
billion_df['gdp_country'] = billion_df['gdp_country'].astype(str).str.replace('[\$,]', '', regex=True)
billion_df['gdp_country'] = pd.to_numeric(billion_df['gdp_country'], errors='coerce')
date_format = "%m/%d/%Y %H:%M"
billion_df['birthDate'] = pd.to_datetime(billion_df['birthDate'], format=date_format)

### Convert type of columns

In [9]:
billion_df.dtypes

rank                                                   int64
finalWorth                                             int64
category                                              object
personName                                            object
age                                                  float64
country                                               object
city                                                  object
source                                                object
industries                                            object
countryOfCitizenship                                  object
organization                                          object
selfMade                                                bool
status                                                object
gender                                                object
birthDate                                     datetime64[ns]
lastName                                              object
firstName                                             object
title                                                 object
state                                                 object
residenceStateRegion                                  object
birthYear                                            float64
birthMonth                                           float64
birthDay                                             float64
cpi_country                                          float64
cpi_change_country                                   float64
gdp_country                                          float64
gross_tertiary_education_enrollment                  float64
gross_primary_education_enrollment_country           float64
life_expectancy_country                              float64
tax_revenue_country_country                          float64
total_tax_rate_country                               float64
population_country                                   float64
latitude_country                                     float64
longitude_country                                    float64
dtype: object

### Handle missing values

In [10]:
missing_ratio=(billion_df.isnull().sum()/len(billion_df)*100).round(2)
missing_ratio

rank                                           0.00
finalWorth                                     0.00
category                                       0.00
personName                                     0.00
age                                            2.46
country                                        1.44
city                                           2.73
source                                         0.00
industries                                     0.00
countryOfCitizenship                           0.00
organization                                  87.69
selfMade                                       0.00
status                                         0.00
gender                                         0.00
birthDate                                      2.88
lastName                                       0.00
firstName                                      0.11
title                                         87.16
state                                         71.48
residenceStateRegion                          71.70
birthYear                                      2.88
birthMonth                                     2.88
birthDay                                       2.88
cpi_country                                    6.97
cpi_change_country                             6.97
gdp_country                                    6.21
gross_tertiary_education_enrollment            6.89
gross_primary_education_enrollment_country     6.86
life_expectancy_country                        6.89
tax_revenue_country_country                    6.93
total_tax_rate_country                         6.89
population_country                             6.21
latitude_country                               6.21
longitude_country                              6.21
dtype: float64

Drop columns that has missing ratio > 70%

In [11]:
columns_to_drop = missing_ratio[missing_ratio > 70.0].index
billion_df.drop(columns=columns_to_drop, inplace=True)
billion_df.dtypes

rank                                                   int64
finalWorth                                             int64
category                                              object
personName                                            object
age                                                  float64
country                                               object
city                                                  object
source                                                object
industries                                            object
countryOfCitizenship                                  object
selfMade                                                bool
status                                                object
gender                                                object
birthDate                                     datetime64[ns]
lastName                                              object
firstName                                             object
birthYear                                            float64
birthMonth                                           float64
birthDay                                             float64
cpi_country                                          float64
cpi_change_country                                   float64
gdp_country                                          float64
gross_tertiary_education_enrollment                  float64
gross_primary_education_enrollment_country           float64
life_expectancy_country                              float64
tax_revenue_country_country                          float64
total_tax_rate_country                               float64
population_country                                   float64
latitude_country                                     float64
longitude_country                                    float64
dtype: object

### Handle missing value

#### Inspecting the reamining columns to look for wrong data

In [12]:
# Looking at the amount of different values to assess data quality in 'status' and 'selfMade' columns

print(f'Values presented in the status column are:\n\n{billion_df["status"].value_counts()}')
print(f'\nValues presented in the selfMade column are:\n\n{billion_df["selfMade"].value_counts()}')

Values presented in the status column are:

status
D                       1223
U                        855
E                        268
N                        150
Split Family Fortune      79
R                         65
Name: count, dtype: int64

Values presented in the selfMade column are:

selfMade
True     1812
False     828
Name: count, dtype: int64

Column status tells us whether the billionaire is self-made (D) or their fortune have any other origin (U). The self-made column indicates whether the billionaire is self-made with True/False.

In theory, the number of values in the status column that indicates a self-made fortune (D) should be equal to the number of True values in the selfMade column

In [13]:
# Displaying unique values in selecting columns in search of wrong data

print(f'Different values in the industry column are:\n\n{billion_df["industries"].unique()}')
print(f'\nDifferent values in the country column are:\n\n{billion_df["country"].unique()}')
print(f'\nDifferent values in the countryOfCitizenship column are:\n\n{billion_df["countryOfCitizenship"].unique()}')
print(f'\nDifferent values in the gender column are:\n\n{billion_df["gender"].unique()}')

Different values in the industry column are:

['Fashion & Retail' 'Automotive' 'Technology' 'Finance & Investments'
 'Media & Entertainment' 'Telecom' 'Diversified' 'Food & Beverage'
 'Logistics' 'Gambling & Casinos' 'Manufacturing' 'Real Estate'
 'Metals & Mining' 'Energy' 'Healthcare' 'Service'
 'Construction & Engineering' 'Sports']

Different values in the country column are:

['France' 'United States' 'Mexico' 'India' 'Spain' 'China' 'Canada'
 'Germany' 'Switzerland' 'Belgium' 'Hong Kong' 'Austria' 'Japan'
 'United Kingdom' 'Australia' 'Indonesia' 'United Arab Emirates' 'Russia'
 'Chile' 'Monaco' 'Czech Republic' 'Sweden' nan 'Thailand' 'Uzbekistan'
 'Singapore' 'Nigeria' 'Israel' 'Italy' 'South Africa' 'Brazil' 'Malaysia'
 'South Korea' 'New Zealand' 'Philippines' 'Taiwan' 'Norway' 'Egypt'
 'Denmark' 'Eswatini (Swaziland)' 'Colombia' 'Netherlands' 'Poland'
 'Bahamas' 'Ukraine' 'Cayman Islands' 'Greece' 'Turkey' 'Argentina'
 'Georgia' 'Portugal' 'Kazakhstan' 'Algeria' 'Vietnam' 'Latvia' 'Finland'
 'Bermuda' 'Luxembourg' 'British Virgin Islands' 'Cambodia' 'Lebanon'
 'Oman' 'Ireland' 'Cyprus' 'Guernsey' 'Liechtenstein'
 'Turks and Caicos Islands' 'Romania' 'Qatar' 'Uruguay' 'Nepal' 'Slovakia'
 'Morocco' 'Hungary' 'Tanzania' 'Bahrain' 'Peru' 'Andorra' 'Armenia']

Different values in the countryOfCitizenship column are:

['France' 'United States' 'Mexico' 'India' 'Spain' 'China' 'Canada'
 'Germany' 'Italy' 'Hong Kong' 'Austria' 'Japan' 'Switzerland' 'Australia'
 'Indonesia' 'Russia' 'Chile' 'United Kingdom' 'Israel' 'Brazil'
 'Czech Republic' 'Singapore' 'Sweden' 'Thailand' 'Netherlands' 'Nigeria'
 'Cyprus' 'Malaysia' 'United Arab Emirates' 'South Africa' 'New Zealand'
 'Philippines' 'Monaco' 'Belgium' 'South Korea' 'Taiwan' 'Norway' 'Egypt'
 'Denmark' 'Ireland' 'Eswatini (Swaziland)' 'Colombia' 'Poland' 'Ukraine'
 'Greece' 'Turkey' 'Argentina' 'Georgia' 'Portugal' 'Kazakhstan' 'Algeria'
 'Venezuela' 'Vietnam' 'Finland' 'Belize' 'Lebanon' 'Oman' 'Iceland'
 'Guernsey' 'Liechtenstein' 'Bulgaria' 'Romania' 'Zimbabwe' 'Qatar'
 'Nepal' 'Slovakia' 'Morocco' 'Hungary' 'Tanzania' 'Peru' 'Barbados'
 'Macau' 'Estonia' 'St. Kitts and Nevis' 'Armenia' 'Bangladesh' 'Panama']

Different values in the gender column are:

['M' 'F']

After looking at the different values in key string columns that are going to be used to perform analysis, the conclusion is that data is correct and don't contain wrong entries

In [14]:
# Displaying unique values in selecting columns in search of wrong data

print(f'Values presented in the birthYear column are:\n\n{billion_df["birthYear"].unique()}')
print(f'\nValues presented in the birthMonth column are:\n\n{billion_df["birthMonth"].unique()}')
print(f'\nValues presented in the birthDay column are:\n\n{billion_df["birthDay"].unique()}')

Values presented in the birthYear column are:

[1949. 1971. 1964. 1944. 1930. 1955. 1942. 1940. 1957. 1956. 1953. 1973.
 1936. 1954. 1984. 1935. 1962. 1948. 1965. 1938. 1939. 1937. 1928. 1945.
 1968. 1992. 1969. 1951. 1980. 1958. 1947. 1972. 1966. 1970. 1941. 1961.
 1943. 1986. 1963. 1933. 1950. 1952. 1932. 1931. 1967.   nan 1946. 1978.
 1927. 1929. 1976. 1959. 1923. 1960. 1934. 1977. 1979. 1982. 1981. 1975.
 1974. 1983. 1985. 1926. 1990. 1988. 1989. 1987. 2004. 1995. 2001. 1993.
 1924. 2002. 1996. 1925. 1921. 1994.]

Values presented in the birthMonth column are:

[ 3.  6.  1.  8. 10.  2.  4.  7. 12.  5. 11.  9. nan]

Values presented in the birthDay column are:

[ 5. 28. 12. 17. 30. 14. 19. 24. 10. 26. 21.  1.  7. 27. 23.  2. 15. 13.
 29.  9. 20. 25. 18.  8.  3. 11. 16. 22.  4. nan  6. 31.]

#### Fill missing value

In [15]:
#Fill missing country values with data scaper from wikipedia (searching for the country of citizenship of the person based on the name)
from bs4 import BeautifulSoup
import requests

def getCountryAndAge(name):
    # Replace spaces with underscores
    name = name.replace(' ', '-').lower()
    url = f'https://www.forbes.com/profile/{name}'
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    country = None
    age = None
    citizenship_dt = soup.find('dt', text='Citizenship')
    if citizenship_dt:
        citizenship_dd = citizenship_dt.find_next_sibling('dd')
        if citizenship_dd:
            country = citizenship_dd.text.strip()
    age_dt = soup.find('dt', text='Age')
    if age_dt:
        age_dd = age_dt.find_next_sibling('dd')
        if age_dd:
            age = age_dd.text.strip()
            #print(f'{name} is {age} years old and comes from {citizenship}')
    return pd.Series([country, age])

# Get the names of the people with missing country values
missing_country = billion_df.query('country.isnull() or age.isnull()')['personName']
# Get the country and age of the missing people
country_and_age = missing_country.apply(getCountryAndAge).dropna()
# rename the columns
country_and_age.columns = ['country', 'age']
# Assign the country and age to the missing people
billion_df.loc[country_and_age.index, ['country','age']] = country_and_age

In [16]:
# print the missing values ratio after filling the missing values
print("After crawling the missing values in the country column, the missing values ratio is:")
print((billion_df.isnull().sum()/len(billion_df)*100).round(2))
print("After crawling the missing values in the age column, the missing values ratio is:")
print((billion_df.isnull().sum()/len(billion_df)*100).round(2))

After crawling the missing values in the country column, the missing values ratio is:
rank                                          0.00
finalWorth                                    0.00
category                                      0.00
personName                                    0.00
age                                           1.86
country                                       0.49
city                                          2.73
source                                        0.00
industries                                    0.00
countryOfCitizenship                          0.00
selfMade                                      0.00
status                                        0.00
gender                                        0.00
birthDate                                     2.88
lastName                                      0.00
firstName                                     0.11
birthYear                                     2.88
birthMonth                                    2.88
birthDay                                      2.88
cpi_country                                   6.97
cpi_change_country                            6.97
gdp_country                                   6.21
gross_tertiary_education_enrollment           6.89
gross_primary_education_enrollment_country    6.86
life_expectancy_country                       6.89
tax_revenue_country_country                   6.93
total_tax_rate_country                        6.89
population_country                            6.21
latitude_country                              6.21
longitude_country                             6.21
dtype: float64
After crawling the missing values in the age column, the missing values ratio is:
rank                                          0.00
finalWorth                                    0.00
category                                      0.00
personName                                    0.00
age                                           1.86
country                                       0.49
city                                          2.73
source                                        0.00
industries                                    0.00
countryOfCitizenship                          0.00
selfMade                                      0.00
status                                        0.00
gender                                        0.00
birthDate                                     2.88
lastName                                      0.00
firstName                                     0.11
birthYear                                     2.88
birthMonth                                    2.88
birthDay                                      2.88
cpi_country                                   6.97
cpi_change_country                            6.97
gdp_country                                   6.21
gross_tertiary_education_enrollment           6.89
gross_primary_education_enrollment_country    6.86
life_expectancy_country                       6.89
tax_revenue_country_country                   6.93
total_tax_rate_country                        6.89
population_country                            6.21
latitude_country                              6.21
longitude_country                             6.21
dtype: float64

In [17]:
billion_df['country'] = billion_df['country'].fillna('Unknown')
billion_df['city'] = billion_df['city'].fillna('Unknown')

print(f'After assigning "Unknown" to null and missing values in the country column, its amount of nulls is: {billion_df["country"].isna().sum()}')
print(f'After assigning "Unknown" to null and missing values in the city column, its amount of nulls is: {billion_df["city"].isna().sum()}')

After assigning "Unknown" to null and missing values in the country column, its amount of nulls is: 0
After assigning "Unknown" to null and missing values in the city column, its amount of nulls is: 0

In [18]:
print(billion_df[billion_df['life_expectancy_country'].isnull()].groupby('country').size().reset_index(name='no life expectancy').sort_values(by='no life expectancy', ascending=False))

                     country  no life expectancy
10                 Hong Kong                  68
18                    Taiwan                  46
15                    Monaco                  17
21                   Unknown                  13
8                    Germany                   8
12                   Ireland                   4
17               South Korea                   3
11                     India                   3
4             Cayman Islands                   3
1                    Bahamas                   2
5             Czech Republic                   2
2                    Bermuda                   2
20            United Kingdom                   2
7                     France                   1
9                   Guernsey                   1
6       Eswatini (Swaziland)                   1
13                     Italy                   1
14                     Japan                   1
16                    Panama                   1
3     British Virgin Islands                   1
19  Turks and Caicos Islands                   1
0                    Andorra                   1

In [19]:
# Creating a dictionary to fill null values for the column

life_exp_dict = {
    'Hong Kong': 85.5,
    'Taiwan': 80.7,
    'Monaco': 85.9,
    'Ireland': 82.1,
    'Cayman Islands': 82.1,
    'Bahamas': 71.6,
    'Bermuda': 79.3,
    'Andorra': 83.3,
    'British Virgin Islands': 74.5,
    'Eswatini (Swaziland)': 57.1,
    'Guernsey': 81.3,
    'Turks and Caicos Islands': 74.6
}

# Fill null values in 'life_expectancy' column using the dictionary

billion_df['life_expectancy_country'].fillna(billion_df['country'].map(life_exp_dict), inplace=True)

# Printing the sum of null values verify it doesn't have nulls

print(billion_df[billion_df['life_expectancy_country'].isnull()].groupby('country').size().reset_index(name='no life expectancy').sort_values(by='no life expectancy', ascending=False))

          country  no life expectancy
9         Unknown                  13
2         Germany                   8
3           India                   3
7     South Korea                   3
0  Czech Republic                   2
8  United Kingdom                   2
1          France                   1
4           Italy                   1
5           Japan                   1
6          Panama                   1

In [20]:
# Creating a dictionary to fill null values for the column

gdp_dict = {
    'Hong Kong': 368911387845,
    'Taiwan': 774700000000,
    'Ireland': 513391778882,
    'Cayman Islands': 6028373513,
    'Bahamas': 11527600000,
    'Bermuda': 7127200000,
    'British Virgin Islands': 1120000000,
    'Eswatini (Swaziland)': 4850842572,
    'Guernsey': 4143608400,
    'Turks and Caicos Islands': 1044778790
}

# Fill null values in 'gdp_country' column using the dictionary

billion_df['gdp_country'].fillna(billion_df['country'].map(gdp_dict), inplace=True)

# Printing the sum of null values verify it doesn't have nulls

print(billion_df[billion_df['gdp_country'].isnull()].groupby('country').size().reset_index(name='no gdp figures').sort_values(by='no gdp figures', ascending=False))

          country  no gdp figures
9         Unknown              13
2         Germany               8
3           India               3
7     South Korea               3
0  Czech Republic               2
8  United Kingdom               2
1          France               1
4           Italy               1
5           Japan               1
6          Panama               1

In [21]:
# Creating a dictionary to fill null values for the column

pop_dict = {
    'Hong Kong': 7413100,
    'Taiwan': 24859912,
    'Ireland': 5033164,
    'Cayman Islands': 68136,
    'Bahamas': 407906,
    'Bermuda': 63764,
    'British Virgin Islands': 31122,
    'Eswatini (Swaziland)': 1192271,
    'Guernsey': 63463,
    'Turks and Caicos Islands': 45114
}

# Fill null values in 'gdp_country' column using the dictionary

billion_df['population_country'].fillna(billion_df['country'].map(pop_dict), inplace=True)

# Printing the sum of null values verify it doesn't have nulls

print(billion_df[billion_df['population_country'].isnull()].groupby('country').size().reset_index(name='no population figures').sort_values(by='no population figures', ascending=False))

          country  no population figures
9         Unknown                     13
2         Germany                      8
3           India                      3
7     South Korea                      3
0  Czech Republic                      2
8  United Kingdom                      2
1          France                      1
4           Italy                      1
5           Japan                      1
6          Panama                      1

In [22]:
# Creating two dictionaries to fill null values for the columns

lat_dict = {
    'Hong Kong': 22.396428,
    'Taiwan': 23.697810,
    'Ireland': 53.412910,
    'Cayman Islands': 19.513469,
    'Bahamas': 25.034280,
    'Bermuda': 32.321384,
    'British Virgin Islands': 18.420695,
    'Eswatini (Swaziland)': -26.522503,
    'Guernsey': 49.465691,
    'Turks and Caicos Islands': 21.694025
}

long_dict = {
    'Hong Kong': 114.109497,
    'Taiwan': 120.960515,
    'Ireland': -8.243890,
    'Cayman Islands': -80.566956,
    'Bahamas': -77.396280,
    'Bermuda': -64.757370,
    'British Virgin Islands': -64.639968,
    'Eswatini (Swaziland)': 31.465866,
    'Guernsey': -2.585278,
    'Turks and Caicos Islands': -71.797928
}

# Fill null values in 'latitude_country' and 'longitude_country' columns using the dictionaries

billion_df['latitude_country'].fillna(billion_df['country'].map(lat_dict), inplace=True)
billion_df['longitude_country'].fillna(billion_df['country'].map(long_dict), inplace=True)

# Printing the sum of null values to verify it doesn't have nulls

display(billion_df[billion_df['latitude_country'].isnull()].groupby('country').size().reset_index(name='no latitude figures').sort_values(by='no latitude figures', ascending=False))

display(billion_df[billion_df['longitude_country'].isnull()].groupby('country').size().reset_index(name='no longitude figures').sort_values(by='no longitude figures', ascending=False))

          country  no latitude figures
9         Unknown                   13
2         Germany                    8
3           India                    3
7     South Korea                    3
0  Czech Republic                    2
8  United Kingdom                    2
1          France                    1
4           Italy                    1
5           Japan                    1
6          Panama                    1

          country  no longitude figures
9         Unknown                    13
2         Germany                     8
3           India                     3
7     South Korea                     3
0  Czech Republic                     2
8  United Kingdom                     2
1          France                     1
4           Italy                     1
5           Japan                     1
6          Panama                     1

In [23]:
# set age column to integer
billion_df['age'] = billion_df['age'].astype('float')
# if birthYear is null and age is not null, calculate birthYear from age, assign birthDay and birthMonth to the most common values
billion_df['birthYear'] = np.where(billion_df['birthYear'].isnull(), datetime.now().year - billion_df['age'], billion_df['birthYear'])

billion_df['age'].fillna(billion_df['age'].median(), inplace=True)
billion_df['birthDate'].fillna(billion_df['birthDate'].value_counts().idxmax(), inplace=True)
name_mapping = {
    'Tahir': 'Muhammad',
    'Jay-Z': 'Shawn',
    'Rihanna': 'Robyn'
}
for last_name, first_name in name_mapping.items():
    billion_df.loc[billion_df['lastName'] == last_name, 'firstName'] = first_name

billion_df['birthYear'].fillna(billion_df['birthYear'].mean(), inplace=True)
billion_df['birthMonth'].fillna(billion_df['birthMonth'].mode().iloc[0], inplace=True)
billion_df['birthDay'].fillna(billion_df['birthDay'].mode().iloc[0], inplace=True)
billion_df['cpi_country'].fillna(billion_df['cpi_country'].mean(), inplace=True)
mean_gdp_country=billion_df.groupby('country')['gdp_country'].mean().mean()
billion_df['gdp_country'].fillna(mean_gdp_country, inplace=True)
billion_df['cpi_change_country'].fillna(billion_df['cpi_change_country'].mean(), inplace=True)
billion_df['gross_tertiary_education_enrollment'].fillna(billion_df['gross_tertiary_education_enrollment'].mean(), inplace=True)
billion_df['gross_primary_education_enrollment_country'].fillna(billion_df['gross_primary_education_enrollment_country'].mean(), inplace=True)
billion_df['life_expectancy_country'].fillna(billion_df['life_expectancy_country'].mean(), inplace=True)
billion_df['tax_revenue_country_country'].fillna(billion_df['tax_revenue_country_country'].mean(), inplace=True)
billion_df['total_tax_rate_country'].fillna(billion_df['total_tax_rate_country'].mean(), inplace=True)
billion_df['population_country'].fillna(billion_df['population_country'].median(), inplace=True)
billion_df['latitude_country'].fillna(billion_df['latitude_country'].median(), inplace=True)
billion_df['longitude_country'].fillna(billion_df['longitude_country'].median(), inplace=True)

In [24]:
missing_ratio=(billion_df.isnull().sum()/len(billion_df)*100).round(2)
missing_ratio

rank                                          0.0
finalWorth                                    0.0
category                                      0.0
personName                                    0.0
age                                           0.0
country                                       0.0
city                                          0.0
source                                        0.0
industries                                    0.0
countryOfCitizenship                          0.0
selfMade                                      0.0
status                                        0.0
gender                                        0.0
birthDate                                     0.0
lastName                                      0.0
firstName                                     0.0
birthYear                                     0.0
birthMonth                                    0.0
birthDay                                      0.0
cpi_country                                   0.0
cpi_change_country                            0.0
gdp_country                                   0.0
gross_tertiary_education_enrollment           0.0
gross_primary_education_enrollment_country    0.0
life_expectancy_country                       0.0
tax_revenue_country_country                   0.0
total_tax_rate_country                        0.0
population_country                            0.0
latitude_country                              0.0
longitude_country                             0.0
dtype: float64

### Save cleaned data to CSV file

In [25]:
billion_df.to_csv("./Data/data_processed.csv", index=False)